@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

:root{
    --primary-color: #252241;
    --text-color: white;
    --secondary-color: #25a7f7;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans', sans-serif;
    height: 100vh;
}

/* START HEADER SECTION  */
/* Start Info Bar  */
.info-bars{
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 20px 0;
}

.row.items .phones, .row.items .emails{
    position: relative;
}

.row.items .phones::after, .row.items .emails::after{
    content: '';
    width: 2px;
    height: 100%;
    padding: 35px 0;
    background-color: #777;

    position: absolute;
    top: -15px;
    right: -5px;
}

@media (max-width: 1200px) {
    .hides-icons{
        display: none;
    }

    .items{
        text-align: center;
        font-size: 38px;
    }

    .row.items .phones::after, .row.items .emails::after{
        display: none;
    }
}
/* End Info Bar  */

/* Start Logo Section  */
.solo-texts .t-infos p:nth-child(1){
    color: var(--primary-color);
    font-weight: bold;
    font-size: 19px;
    margin: 0;
}

.solo-texts .t-infos p:nth-child(2){
    color: #999;
    font-weight: bold;
    font-size: 14px;
}

.btn .bars{
    width: 30px;
    height: 3px;
    background-color: #000;
    margin: 7px 0;
}

@media (max-width: 1200px) {
    .logos{
        padding: 40px;
    }

    .hides-solos{
        display: none;
    }

    .btn .bars{
        width: 50px;
        height: 8px;
        margin: 8px 0;
    }

    .brand-imgs{
        width: 400px;
    }
}
/* Ene Logo Section  */

/* Start Navbar Section  */
.btns{
    background-color: var(--secondary-color);
    color: white;
    text-decoration: none;
    padding: 20px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border: 0;
    border-radius: 5px;
    transition: background-color 0.4s;
}

.btns:hover{
    background-color: var(--primary-color);
    color: white;
}

.navs{
    color: #000;
    font-weight: bold;
    font-size: 17px;
    transition: color 0.3s;
}

.navs:hover{
    color: var(--secondary-color);
}

/* End Navbar Section  */

/* Stat Banner Section  */
.banners{
    height: 100vh;
    background: 
        linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)),
        url("../assets/banner/banner1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-texts h3{
    font-weight: 800;
    font-size: 30px;
}

.banner-texts h1{
    font-weight: bolder;
    font-size: 78px;
}

.banner-texts p{
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 1px;
}

@media (max-width: 1200px) {
    .banners{
        height: 80vh;
    }

    .banner-texts h3{
        font-size: 30px;
        font-weight: 800;
    }
    
    .banner-texts h1{
        font-weight: bolder;
        font-size: 88px;
    }
    
    .banner-texts p{
        font-weight: bold;
        font-size: 35px;
    }

    .btns{
        padding: 30px;
        font-size: 18px;
        letter-spacing: 2px;
        border-radius: 5px;
    }
}
/* End banner Section  */
/* END HEADER SECTION  */

/* START ABOUT SECTION  */
.abouts{
    position: relative;
}

.aboutimgs{
    position: absolute;
    left: -25px;
    bottom: -100px;
}

.expboxs{
    width: 200px;
    height: 200px;
    background-color: var(--secondary-color);
    border: 3px dotted #fff; 
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: absolute;
    bottom: 30px;
    right: 70px;
}

.texts{
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: bold;
}
/* END ABOUT SECTION  */